@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
$font: 'Lexend Deca', sans-serif;

$color-primary: rgb(233, 255, 192);
$color-secondary: purple;
$font-size-title: 30px;
$font-size-subtitle: 20px;
$font-size-text: 16px;
