
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: palevioletred;
}
html {
    font-size: 1.5rem;
}
.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    max-width: 500px;
    margin: auto;
  
  }
  .addButton {
      height: 2rem;
      min-width: 2rem;
      border-radius: 0.25rem;
      padding: 0.5rem;
      background-color: rgb(235, 178, 104);
      color: black;
      font-weight: 800;
      cursor: pointer;
      border: none;
  }
  h1 {
      font-size: 3rem;
      color: rgb(241, 240, 240);
  }
  .counter {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      margin-bottom: 2rem;
  }
  .incBtn, .decBtn {
      height: 1.5rem;
      min-width: 2rem;
      padding: 0.2rem;
      background-color: rgb(39, 39, 39);
      color: rgb(241, 240, 240);
      border-radius: 0.25rem;
      border: none;
      margin: .5rem;
      font-weight: 800;
      cursor: pointer;
  }
.incBtn:hover, .decBtn:hover, .addButton:hover {
    background-color:rgb(153, 86, 86);
}